<!doctype html>
<html lang="en" id="home">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UW Official Partners</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/newsite/css/style.css">
    <link rel="stylesheet" href="/static/newsite/css/media-query.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>





<!-- ////////////////// Header section   ///////////////// -->

<section class="header">
    <div class="containe header-container">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-color" id="navbar">
     
          <div class="container">
            
              <img src="/static/newsite/img/logo-main.PNG" width="320px" alt="logo">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="font-size: 15px;">
                </span>
              </button>
              
              <div class="collapse ms-auto navbar-collapse" id="navbarSupportedContent">
                
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#save-energy-bills">Save Energy Bill</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#bundle-offer">Bundle Offer</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#why-uw">Why UW</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#other-services">Other Services</a>
                  </li>
                </ul>
              </div>
          </nav>
    <div class="container energy-bills mt-5 mb-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            {% for message in messages  %}    
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0 py-1" style="z-index:999;" role="alert">
                  <strong class=""></strong> {{ message }}
                  <button type="button" class="btn-close py-1" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                 {% endfor %}
          </div>
        </div>
       </div>
        <div class="row">
            <div class="col-md-6 mb-5">
            
                <h1>Get the UK's best value energy at 5% <strong>below the price cap</strong></h1>

                <p>Get the cheapest energy tariff available in the UK today when you switch any two of your mobile, insurance or broadband to UW. Protect yourself against the Ofgem price cap increase this October.</p>
                <span>
                    <button class="btn rounded-pill get-quote" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Get a quote</button>
                    <a class="btn rounded-pill find-more" href="#bundle-offer">Find out more</a>
                </span>


<div class="modal fade modal-xl" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header float-none">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2 class="fw-bold text-center">GET A QUOTE</h2>
        <div class="row justify-content-center">
          <div class="col-md-9">
        <form action="{% url 'contact' %}" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-12">
          <div class="mb-3">
            <label class="form-label">Full Name <strong class="text-danger"><sup>*</sup></strong></label>
            <input type="text" class="form-control" name="fullname" required>
          </div>
          </div>
          </div>
          <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="mb-3">
              <label class="form-label">House Number <strong class="text-danger"><sup>*</sup></strong></label>
              <input type="text" class="form-control" name="housenum" required>
            </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="mb-3">
                <label class="form-label">Postcode <strong class="text-danger"><sup>*</sup></strong></label>
                <input type="text" class="form-control" name="postcode" required>
              </div>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                  <div class="mb-3">
                    <label class="form-label">Telephone Number <strong class="text-danger"><sup>*</sup></strong></label>
                    <input type="number" class="form-control" name="telnumber" required>
                  </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <div class="mb-3">
                      <label class="form-label">Email Address <strong class="text-danger"><sup>*</sup></strong></label>
                      <input type="text" class="form-control" name="email" required>
                    </div>
                    </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-12">
                    <label class="form-check-label mb-3" for="flexCheckDefault">
                      <h5>Best time to contact</h5>
                    </label>
                    <div class="mb-1 switched"><span>
                    <label class="switch">
                      <input type="checkbox" name="besttime" value="Morning">
                      <span class="slider round"></span>
                    </label>
                  <label class="text">Morning</label>
                  </span>
                  </div>
                  <div class=" mb-1 switched">
                    <label class="switch">
                      <input type="checkbox" name="besttime" value="Afternoon">
                      <span class="slider round"></span>
                    </label>
                    <label for="" class="text">Afternoon</label>
                  </div>
                  <div class="mb-1 switched">
                    <label class="switch">
                      <input type="checkbox" name="besttime" value="Evening">
                      <span class="slider round"></span>
                    </label>
                    <label for="" class="text">Evening</label>
                  </div>
                      </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-md-12">
                      <label class="form-check-label mb-3" for="flexCheckDefault">
                        <h5>Which Services are you interested in?</h5>
                      </label>
                      <div class="mb-1 switched">
                        <label class="switch">
                          <input type="checkbox" name="service" value="GAS & Electricity">
                          <span class="slider round"></span>
                        </label>
                        <label for="" class="text">GAS & Electricity</label>
                      </div>
                      <div class="mb-1 switched">
                        <label class="switch">
                          <input type="checkbox"  name="service" value="GAS">
                          <span class="slider round"></span>
                        </label>
                        <label for="" class="text">GAS</label>
                      </div>
                      <div class="mb-1 switched">
                        <label class="switch">
                          <input type="checkbox"  name="service" value="Electricity">
                          <span class="slider round"></span>
                        </label>
                        <label for="" class="text">Electricity</label>
                      </div>
                      <div class="mb-1 switched">
                        <label class="switch">
                          <input type="checkbox"  name="service" value="Broadband">
                          <span class="slider round"></span>
                        </label>
                        <label for="" class="text">Broadband</label>
                      </div>
                      <div class="mb-1 switched">
                        <label class="switch">
                          <input type="checkbox"  name="service" value="Mobile Sim Card">
                          <span class="slider round"></span>
                        </label>
                        <label for="" class="text">Mobile Sim Card</label>
                      </div>
                      <div class="mb-1 switched">
                        <label class="switch">
                          <input type="checkbox" name="service" value="Home Cover">
                          <span class="slider round"></span>
                        </label>
                        <label for="" class="text">Home Cover</label>
                      </div>
                      <div class="d-grid gap-2 mt-4 mb-3">
                        <input type="submit" value="Submit" class="form-control">
                      </div>
                        </div>
                    </div>
        </form>
      </div>
    </div>
      </div>
     
    </div>
  </div>
</div>



            </div>
            <div class="col-md-6 text-end">
                <img src="/static/newsite/img/ero-img.png" width="600px" class="img-fluid" alt="home service">
            </div>  
        </div>
    </div>
</section>







<!-- ////////////////// Offical Partners section   ///////////////// -->
<!-- <div id="save-energy-bills"></div>
<section class="op mb-5" >
    <div class="container op-container">
        <div class="row justify-content-end">
            <div class="col-md-6 imgg">
                <img src="/static/newsite/img/maps.jpg" width="500px" class="img-fluid" alt="map">
            </div>
            <div class="col-md-6">
                <div class="">
               <h2>Fix your energy tariff now to avoid <strong>October's price rise</strong></h2>
               <p>Our fixed energy tariff is £3,550 when you switch three home services to UW. Including the Government's rebate, this means a typical customer will pay only £3,150 until the end of August 2023.</p>
               <div class="float-end">
                <img src="/static/newsite/img/uww.png" width="460px" class="img-fluid" alt="uw">
              </div>
              <div class="img">
              <button class="btn rounded-pill text-white get-quote" role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Get a quote</button>
            </div>
               </div>
            </div>
        </div>
    </div>
</section> -->







<!-- ////////////////// Home Service section   ///////////////// -->
<section class="home-service">
<div class="container-fluid home-service-container">
  <div class="row ">
   <div class="col-md-6 bg-img"> 
    <img src="/static/newsite/img/d-shape.png" class="img-fluid d-shape" width="400px" alt="shape">
<h2>Save £467 on your <br><strong>home services</strong></h2>
<p class="p-one">Over 22 million households are being impacted in the UK by the largest energy price hike in a generation.</p>
<p class="p-two">But you could unlock benefits and savings of £467 in your first year when you switch your energy, broadband, mobile and insurance to UW with a free £50 credit on your Cashback Card if you take all four services.</p>
    </div>
    <div class="col-md-6 float-start mt-5">
      <img src="/static/newsite/img/home-service.png" class="img-fluid home-service" width="600px" alt="home service">
    </div>
  </div>
</div>
</section>






<!-- ////////////////// Mind Promise section   ///////////////// -->
<section class="mind-promise mt-5 pt-5" style="background-image: url('/static/newsite/img/group.png');">
  <div class="container mind-promise-container">
   <h2>Our Peace of <strong>Mind Promise</strong></h2>
   <p>When you switch all your home services to UW you can get:</p>
  </div>
  <div class="container-fluid home-price text-center">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <img src="/static/newsite/img/dollar.png" class="dollar img-fluid" alt="dollar" width="80px">
        <p>Energy prices 5% below the Government's price cap</p>
      </div>
      <div class="col-md-3">
        <img src="/static/newsite/img/two.png" class="two-hundred img-fluid" alt="two-hundred" width="110px">
        <p>&#163;200 towards any early termination fees with existing suppliers</p>
      </div>
      <div class="col-md-3">
        <img src="/static/newsite/img/calender.png" class="calender img-fluid" alt="calender" width="60px">
        <p>30 days to change your mind, and switch away without panalty</p>
      </div>
    </div>
  </div>
  </section>





<!-- ////////////////// Better Bundling section   ///////////////// -->
<section class="better-bundling my-5 py-5" id="bundle-offer">
  <div class="container better-bundling-container">
    <div class="row ">
     <div class="col-md-6 img mb-5"> 
      <img src="/static/newsite/img/savemoney.png" class="img-fluid save-money" width="500px" alt="save-money">
      </div>
      <div class="col-md-6">
        <h2>You're better off bundling Select the bundle you like and <strong>save money</strong></h2>
        <p>Here are a few ways you could combine our services to get savings. The more services you switch to UW, the more you'll save on your energy. Including access to the cheapest energy tariff available for sale in the UK today, when you switch three or four services.</p>
        <div class="uw-img float-end">
        <img src="/static/newsite/img/uww.png" width="400px" alt="uw" class="img-fluid uw">
      </div>
      </div>
    </div>
  </div>
  </section>







<!-- ////////////////// Four Service section   ///////////////// -->
<section class="four-service">
    <div class="container fs-p">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-12 text-center">
                <h2 class="mb-5">Our Four Service <strong>Bundle</strong></h2>
                <p class="text-center pb-3">Here are a few ways you could combine our services to get savings. The more services you switch to UW, the more you'll save on your energy. Including access to the cheapest energy tariff available for sale in</p>
            </div>
        </div>
    </div>
    <div class="container four-service-container">
        <div class="row">
           <div class="col-md-12">
            <div class="table-responsive">
                <table class="table text-center  align-middle table-borderless">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" class="py-4 th">Energy</th>
                        <th scope="col" class="pt-4 pb-3"><i class="fa-solid fa-plus fw-bold"></i></th>
                        <th scope="col" class="py-4 th">Broadband</th>
                        <th scope="col" class="pt-4 pb-3"><i class="fa-solid fa-plus fw-bold"></i></th>
                        <th scope="col" class="py-4 th">Mobile</th>
                        <th scope="col" class="pt-4 pb-3"><i class="fa-solid fa-plus fw-bold"></i></th>
                        <th scope="col" class="py-4 th">Insurance</th>
                        <th scope="col" class=" tpy text-center py-4">Total per year</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="py-5 number">
                        <th class="p-0"><img src="/static/newsite/img/swg1.png" width="120px" alt="Utility Warehouse"></th>
                        <td>&#163;1872</td>
                        <td></td>
                        <td>&#163;259</td>
                        <td></td>
                        <td>&#163;216</td>
                        <td></td>
                        <td>&#163;216</td>
                        <td class="text-center">&#163;2564</td>
                      </tr>
                      <tr class="number numbered">
                        <th class="py-2 border-0">Competitors<br>Average</th>
                        <td class="border-0">&#163;1971</td>
                        <td class="border-0"></td>
                        <td class="border-0">&#163;303</td>
                        <td class="border-0"></td>
                        <td class="border-0">&#163;427</td>
                        <td class="border-0"></td>
                        <td class="border-0">&#163;280</td>
                        <td class="text-center border-0">&#163;2981</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                  <div class="container saving-con">
                    <div class="row justify-content-end">
                        <div class="col-md-5">
                            <div class="float-end saving-btn">
                                <h6 class="fw-bold">Saving &#163;467 Inc. &#163;50 <br> Cashback Crd Credit</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-start">
                      <div class="col-md-5">
                          <div class="float-start get-quote-button">
                            <button class="btn rounded-pill text-white get-quotee" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Get a quote</button>
                          </div>
                      </div>
                  </div>
                  </div>
           </div>
        </div>
    </div>
</section>






<!-- ////////////////// Three Service section   ///////////////// -->
<section class="four-service mt-5">
    <div class="container fs-p">
        <div class="row justify-content-center">
            <div class="col-lg-9 col-md-12 text-center">
                <h2 class="mb-5">Our Three Service <strong>Bundle</strong></h2>
                <p class="text-center pb-3">Here are a few ways you could combine our services to get savings. The more services you switch to UW, the more you'll save on your energy. Including access to the cheapest energy tariff available for sale in</p>
            </div>
        </div>
    </div>
    <div class="container four-service-container">
        <div class="row">
           <div class="col-md-12">
            <div class="table-responsive">
                <table class="table text-center  align-middle table-borderless">
                    <thead>
                      <tr>
                        <th scope="col"></th>
                        <th scope="col" class="py-4 th">Energy</th>
                        <th scope="col" class="pt-4 pb-3"><i class="fa-solid fa-plus fw-bold"></i></th>
                        <th scope="col" class="py-4 th">Broadband</th>
                        <th scope="col" class="pt-4 pb-3"><i class="fa-solid fa-plus fw-bold"></i></th>
                        <th scope="col" class="py-4 th">Mobile</th>
                        <th scope="col" class=" tpy text-center py-4">Total per year</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="py-5 number">
                        <th class="p-0"><img src="/static/newsite/img/swg1.png" width="120px" alt="Utility Warehouse"></th>
                        <td>&#163;1872</td>
                        <td></td>
                        <td>&#163;259</td>
                        <td></td>
                        <td>&#163;216</td>
                        <td class="text-center">&#163;2348</td>
                      </tr>
                      <tr class="number numbered">
                        <th class="py-2 border-0">Competitors<br>Average</th>
                        <td class="border-0">&#163;1971</td>
                        <td class="border-0"></td>
                        <td class="border-0">&#163;303</td>
                        <td class="border-0"></td>
                        <td class="border-0">&#163;427</td>
                        <td class="text-center border-0">&#163;2701</td>
                      </tr>
                    </tbody>
                  </table>
                  </div>
                  <div class="container saving-con">
                    <div class="row justify-content-end">
                        <div class="col-md-5">
                            <div class="float-end saving-btn">
                                <h6 class="fw-bold">Saving &#163;354</h6>
                            </div>
                        </div>
                    </div>
                  </div>

                  <div class="table-responsive mt-5">
                    <table class="table text-center  align-middle table-borderless">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col" class="py-4 th">Energy</th>
                            <th scope="col" class="pt-4 pb-3"><i class="fa-solid fa-plus fw-bold"></i></th>
                            <th scope="col" class="py-4 th">Mobile</th>
                            <th scope="col" class="pt-4 pb-3"><i class="fa-solid fa-plus fw-bold"></i></th>
                            <th scope="col" class="py-4 th">Insurance</th>
                            <th scope="col" class=" tpy text-center py-4">Total per year</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="py-5 number">
                            <th class="p-0"><img src="/static/newsite/img/swg1.png" width="120px" alt="Utility Warehouse"></th>
                            <td>&#163;1,872</td>
                            <td></td>
                            <td>&#163;216</td>
                            <td></td>
                            <td>&#163;216</td>
                            <td class="text-center">&#163;2,304</td>
                          </tr>
                          <tr class="number numbered">
                            <th class="py-2 border-0">Competitors<br>Average</th>
                            <td class="border-0">&#163;1971</td>
                            <td class="border-0"></td>
                            <td class="border-0">&#163;427</td>
                            <td class="border-0"></td>
                            <td class="border-0">&#163;280</td>
                            <td class="text-center border-0">&#163;2,678</td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                      <div class="container saving-con">
                        <div class="row justify-content-end">
                            <div class="col-md-5">
                                <div class="float-end saving-btn">
                                    <h6 class="fw-bold">Saving &#163;374</h6>
                                </div>
                            </div>
                        </div>
                      </div>



                      <div class="table-responsive mt-5">
                        <table class="table text-center  align-middle table-borderless">
                            <thead>
                              <tr>
                                <th scope="col"></th>
                                <th scope="col" class="py-4 th">Energy</th>
                                <th scope="col" class="pt-4 pb-3"><i class="fa-solid fa-plus fw-bold"></i></th>
                                <th scope="col" class="py-4 th">Mobile</th>
                                <th scope="col" class="pt-4 pb-3"><i class="fa-solid fa-plus fw-bold"></i></th>
                                <th scope="col" class="py-4 th">Insurance</th>
                                <th scope="col" class=" tpy text-center py-4">Total per year</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="py-5 number">
                                <th class="p-0"><img src="/static/newsite/img/swg1.png" width="120px" alt="Utility Warehouse"></th>
                                <td>&#163;1,872</td>
                                <td></td>
                                <td>&#163;288</td>
                                <td></td>
                                <td>&#163;216</td>
                                <td class="text-center">&#163;2,376</td>
                              </tr>
                              <tr class="number numbered">
                                <th class="py-2 border-0">Competitors<br>Average</th>
                                <td class="border-0">&#163;1,971</td>
                                <td class="border-0"></td>
                                <td class="border-0">&#163;303</td>
                                <td class="border-0"></td>
                                <td class="border-0">&#163;280</td>
                                <td class="text-center border-0">&#163;2,554</td>
                              </tr>
                            </tbody>
                          </table>
                          </div>
                          <div class="container saving-con">
                            <div class="row justify-content-end">
                                <div class="col-md-5">
                                    <div class="float-end saving-btn">
                                        <h6 class="fw-bold">Saving &#163;177</h6>
                                    </div>
                                </div>
                            </div>
                          </div>
                  <div class="container see-bundles">
                    <div class="row justify-content-center">
                        <div class="col-md-6 text-center">
                            <button class="btn rounded-pill text-white" id="hide-and-show">Click here to see bundles</button>
                        </div>
                    </div>
                    <div class="row justify-content-start">
                      <div class="col-md-5">
                          <div class="float-start get-quote-button">
                            <button class="btn rounded-pill text-white get-quotee" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Get a quote</button>
                          </div>
                      </div>
                  </div>
                  </div>
           </div>
        </div>
    </div>



    
</section>






<!-- ////////////////// Two Service section   ///////////////// -->
<div id="see-more-bundles">
<section class="four-service mt-5">
  <div class="container fs-p">
      <div class="row justify-content-center">
          <div class="col-lg-9 col-md-12 text-center">
              <h2 class="mb-5">Our Two Service <strong>Bundle</strong></h2>
              <p class="text-center pb-3">Unlock the UK's cheapest energy deal plus 10% off your broadband when you take both broadband and mobile.</p>
          </div>
      </div>
  </div>
  <div class="container four-service-container">
      <div class="row">
         <div class="col-md-12">
          <div class="table-responsive">
              <table class="table text-center  align-middle table-borderless">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col" class="py-4 th">Energy</th>
                      <th scope="col" class="pt-4 pb-3"><i class="fa-solid fa-plus fw-bold"></i></th>
                      <th scope="col" class="py-4 th">Broadband</th>
                      <th scope="col" class=" tpy text-center py-4">Total per year</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="py-5 number">
                      <th class="p-0"><img src="/static/newsite/img/swg1.png" width="120px" alt="Utility Warehouse"></th>
                      <td>&#163;1992</td>
                      <td></td>
                      <td>&#163;288</td>
                      <td class="text-center">&#163;2210</td>
                    </tr>
                    <tr class="number numbered">
                      <th class="py-2 border-0">Competitors<br>Average</th>
                      <td class="border-0">&#163;1971</td>
                      <td class="border-0"></td>
                      <td class="border-0">&#163;303</td>
                      <td class="text-center border-0">&#163;2274</td>
                    </tr>
                  </tbody>
                </table>
                </div>
                <div class="container saving-con">
                  <div class="row justify-content-end">
                      <div class="col-md-5">
                          <div class="float-end saving-btn">
                              <h6 class="fw-bold">Saving &#163;64</h6>
                          </div>
                      </div>
                  </div></div>

                  <div class="table-responsive mt-4">
                    <table class="table text-center  align-middle table-borderless">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col" class="py-4 th">Energy</th>
                            <th scope="col" class="pt-4 pb-3"><i class="fa-solid fa-plus fw-bold"></i></th>
                            <th scope="col" class="py-4 th">Insurance</th>
                            <th scope="col" class=" tpy text-center py-4">Total per year</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="py-5 number">
                            <th class="p-0"><img src="/static/newsite/img/swg1.png" width="120px" alt="Utility Warehouse"></th>
                            <td>&#163;1,992</td>
                            <td></td>
                            <td>&#163;216</td>
                            <td class="text-center">&#163;2,138</td>
                          </tr>
                          <tr class="number numbered">
                            <th class="py-2 border-0">Competitors<br>Average</th>
                            <td class="border-0">&#163;1,971</td>
                            <td class="border-0"></td>
                            <td class="border-0">&#163;280</td>
                            <td class="text-center border-0">&#163;2,251</td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                      <div class="container saving-con">
                        <div class="row justify-content-end">
                            <div class="col-md-5">
                                <div class="float-end saving-btn">
                                    <h6 class="fw-bold">Saving &#163;113</h6>
                                </div>
                            </div>
                        </div></div>


                        <div class="table-responsive mt-4">
                          <table class="table text-center  align-middle table-borderless">
                              <thead>
                                <tr>
                                  <th scope="col"></th>
                                  <th scope="col" class="py-4 th">Energy</th>
                                  <th scope="col" class="pt-4 pb-3"><i class="fa-solid fa-plus fw-bold"></i></th>
                                  <th scope="col" class="py-4 th">Insurance</th>
                                  <th scope="col" class=" tpy text-center py-4">Total per year</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr class="py-5 number">
                                  <th class="p-0"><img src="/static/newsite/img/swg1.png" width="120px" alt="Utility Warehouse"></th>
                                  <td>&#163;1,992</td>
                                  <td></td>
                                  <td>&#163;216</td>
                                  <td class="text-center">&#163;2,138</td>
                                </tr>
                                <tr class="number numbered">
                                  <th class="py-2 border-0">Competitors<br>Average</th>
                                  <td class="border-0">&#163;1,971</td>
                                  <td class="border-0"></td>
                                  <td class="border-0">&#163;427</td>
                                  <td class="text-center border-0">&#163;2,398</td>
                                </tr>
                              </tbody>
                            </table>
                            </div>
                            <div class="container saving-con">
                              <div class="row justify-content-end">
                                  <div class="col-md-5">
                                      <div class="float-end saving-btn">
                                          <h6 class="fw-bold">Saving &#163;113</h6>
                                      </div>
                                  </div>
                              </div></div>

                  <div class="container saving-con">
                  <div class="row justify-content-start">
                    <div class="col-md-5">
                        <div class="float-start get-quote-button">
                          <button class="btn rounded-pill text-white get-quotee" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Get a quote</button>
                        </div>
                    </div>
                </div>
                </div>
         </div></div>
      </div>
  
</section>





<!-- ////////////////// One Service section   ///////////////// -->
<section class="single-service mt-5">
  <div class="container fs-p">
    <div class="row justify-content-center">
        <div class="col-lg-9 col-md-12 text-center">
            <h2 class="mb-5">Single Service <strong>Bundle</strong></h2>
            <p class="text-center pb-3">Unlock the UK's cheapest energy deal plus 10% off your broadband when you take both broadband and mobile.</p>
        </div>
    </div>
</div>
  <div class="container single-service-container">
      <div class="row">
         <div class="col-md-6">
          <div class="table-responsive">
              <table class="table text-center  align-middle table-borderless">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col" class="py-4 th">Energy</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="py-5 number">
                      <th class="p-0"><img src="/static/newsite/img/swg1.png" width="120px" alt="Utility Warehouse"></th>
                      <td>&#163;1961</td>
                    </tr>
                    <tr class="number numbered">
                      <th class="py-2 border-0">Competitors<br>Average</th>
                      <td class="border-0">&#163;1971</td>
                  </tbody>
                </table>
                </div>
                <div class="container saving-con">
                  <div class="row justify-content-end">
                      <div class="col-md-5">
                          <div class="float-end saving-btn">
                              <h6 class="fw-bold">Saving &#163;10</h6>
                          </div>
                      </div>
                  </div>
                </div>
         </div>

         <div class="col-md-6">
          <div class="table-responsive">
              <table class="table text-center  align-middle table-borderless">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col" class="py-4 th">Broadband</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="py-5 number">
                      <th class="p-0"><img src="/static/newsite/img/swg1.png" width="120px" alt="Utility Warehouse"></th>
                      <td>&#163;288</td>
                    </tr>
                    <tr class="number numbered">
                      <th class="py-2 border-0">Competitors<br>Average</th>
                      <td class="border-0">&#163;303</td>
                  </tbody>
                </table>
                </div>
                <div class="container saving-con">
                  <div class="row justify-content-end">
                      <div class="col-md-5">
                          <div class="float-end saving-btn">
                              <h6 class="fw-bold">Saving &#163;15</h6>
                          </div>
                      </div>
                  </div>
                </div>
         </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-md-5">
            <div class="float-start get-quote-button">
              <button class="btn rounded-pill text-white get-quotee" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Get a quote</button>
            </div>
        </div>
    </div>   
  </div>
</section>
</div>





<!-- ////////////////// Awarded Energy section   ///////////////// -->
<div id="why-uw mb-4"></div>
<section class="awarded-energy mt-5">
    <div class="container awarded-energy-container">
        <div class="row">
            <div class="col-md-6">
                <h2>Utility Warehouse  is Uswitch's  top <strong>awarded energy</strong> supplier  in <strong>2022</strong></h2>
                <p class="mt-5 pb-4 pt-3">We've earned over 70 awards – and counting - in the last decade alone.</p>
                <p>Most recently, Best Customer Service, Most Likely to Recommend and Best Rewards in the Uswitch Energy Awards 2022.</p>
            </div>
            <div class="col-md-6 text-end">
                <img src="/static/newsite/img/istock.png" class="img-fluid" width="560px" alt="map">
            </div>
        </div>
    </div>
</section>




<!-- ////////////////// More Services   ///////////////// -->
<div d="other-services mb-5"></div>
<section class="more-services my-5">
    <div class="container more-services-container">
        <div class="text-center pb-4 pt-5">
            <h2 class="text-center">More on our <strong>Services</strong></h2>
    </div>
        <div class="row text-white text-center py-4">
            <div class="col-md-3 col-6 mb-4">
                    <img src="/static/newsite/img/energy.PNG" width="130px" class="img-fluid" alt="energy">
                    <p>Energy</p>
            </div>
            <div class="col-md-3 mb-4 col-6">
                <img src="/static/newsite/img/mobile.PNG" width="130px" class="img-fluid" alt="mobile">
                <p>Mobile</p>
        </div>
        <div class="col-md-3 mb-4 col-6">
            <img src="/static/newsite/img/broadband.PNG" width="130px" class="img-fluid" alt="broadband">
            <p>Broadband</p>
    </div>
    <div class="col-md-3 mb-4 col-6">
        <img src="/static/newsite/img/umb.PNG" width="130px" class="img-fluid" alt="umbrella">
        <p>Insurance</p>
</div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6">
              <div class="text-center get-quote-button">
                <button class="btn rounded-pill text-white get-quotee" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Get a quote</button>
              </div>
          </div>
      </div>
    </div>
</section>





    <!-- //////////////////  Footer ///////////////// -->
    <footer class="footer">
        <div class="container footer-container">
            <div class="text-center pb-4 pt-5">
            <img src="/static/newsite/img/footer-logo.PNG" width="290px" alt="logo" class="img-fluid">
        </div>
            <div class="row text-white text-center py-4">
                <div class="col-md-4 mb-4">
                        <h6 class="">Privacy Policy</h6>
                </div>
                <div class="col-md-4 mb-4">
                    <h6 class="">Disclaimer</h6>
            </div>
            <div class="col-md-4 mb-4">
                <h6 class="">Cookie Policy</h6>
        </div>
            </div>
        </div>
    </footer>
    <script src="/static/newsite/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
  </body>
</html>